################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/git groupe 2/.vs/git groupe 2/FileContentIndex/4f6a2871-53e7-42a5-9edc-753d58db9df9.vsidx
