################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/git groupe 2/.vs/git groupe 2/FileContentIndex/2fe8d74e-77cb-4260-b7bf-7cd9335e2817.vsidx
